* {
	margin:0px;
	padding:0px;
	
}

body	{
	background-color:lime;
}

#wrapper	{
	




}
#oben1	{
	





}

#oben2	{
	





}

#oben3	{
	





}

#navi	{
	




	
}

#subnavi	{
	





}

#content	{
	





}

#bilder	{
	






	
}

#footer	{
	






}